@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scroll-snap-container {
  scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
  scroll-snap-align: start;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('/fonts/SUIT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SUIT', sans-serif;
}
